*{
    list-style: none;
}
body {
    margin: 0;
    background-image: url(https://64.media.tumblr.com/8f3a2365a86e5af01aaaf73845ab1351/89d27ea1cb22c852-54/s640x960/3ac6ff555467cd7724cbf7d50570147835357dd9.gif);
   
} 
h1{
    color: #E5E5E5;
}
.img-cabecera{
  
    height: 307px;
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    background-position: center top;
}

.App {
    margin: 0 auto;
    width: 90%;
    background-color: #05292E;
    
}
p{
    margin: 10px;
    color: #E5E5E5;
}
.datos {
    
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    background-color: #062226;
}

form{
    text-align: center;
}
.card{
   
    background-color: #062226;
    margin-top: 15px;
}
h2{
    color: #E5E5E5;
    margin: 15px;
}
h3{
    margin: 10px;
    color: #7E7E7E;
}
span{
    color: #E5E5E5;
    margin: 15px;
    margin-bottom: 10px;
    
}
.cuerpo{
    width: 100%;
    
}

.super{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}
.error-pantalla{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.imagen-error{
    width: 70%;
    margin-bottom: 50px;
}
.cabecera{
    display: flex;
    flex-direction: column;
    align-items: center;
}